.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 220px;
  margin-bottom: -18px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    margin-bottom: -18px;
  }
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    min-width: 1220px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 42px;
  }
}

.advantages__pet {
  min-height: 266px;
  max-width: 475px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 23px;
  background-color: $lgt_gray;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 19px;
    min-height: 266px;
    min-width: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 52px;
    margin-bottom: 31px;
    padding-bottom: 34px;
    padding-right: 276px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 43px;
  }
}

.advantages__pet-wrapper {
  @media (max-width: $mobile-width-only) {
    padding-left: 22px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 41px;
    min-width: 380px;
  }

  @media (min-width: $desktop-width) {
    min-width: 437px;
    padding-top: 43px;
    padding-left: 0;
    padding-right: 12px;
  }
}

.advantages__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    margin-top: 35px;
    padding-left: 18px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
    text-align: center;
    min-width: 490px;
  }

  &--slim {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 31px;
      padding-right: 29px;

      &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 55px;
        left: 0;
        top: -9px;
        background-image: url("../img/content/cat_slim.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
      font-size: 36px;
      line-height: 36px;

      &::before {
        content: none;
      }

      &::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 212px;
        left: 394px;
        top: 3px;
        background-image: url("../../img/content/cat_fat-tablet.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    @media (min-width: $desktop-width) {
      padding-right: 30px;

      &::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 108px;
        left: 0;
        top: -35px;
        background-image: url("../../img/content/cat-slim-desktop.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      &::after {
        content: none;
      }
    }
  }

  &--fat {
    @media (max-width: $mobile-width-only) {
      &::before {
        content: "";
        position: absolute;
        width: 70px;
        height: 50px;
        left: -9px;
        top: -5px;
        background-image: url("../img/content/cat_fat.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
      font-size: 36px;
      line-height: 36px;

      &::before {
        content: none;
      }

      &::after {
        content: "";
        position: absolute;
        width: 268px;
        height: 212px;
        left: 360px;
        top: 14px;
        background-image: url("../../img/content/cat_back-tablet.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 19px;

      &::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 108px;
        left: -18px;
        top: -30px;
        background-image: url("../../img/content/cat-fat-desktop.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      &::after {
        content: none;
      }
    }
  }
}

.advantages__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $gray;
  text-align: left;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 26px;
    max-width: 240px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 619px;

    &--slim {
      max-width: 373px;
    }

    &--fat {
      max-width: 340px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    min-width: 463px;
  }
}

.advantages__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  cursor: pointer;
  padding-bottom: 21px;
  border-top: 1px solid $spcl_gray4;
  padding-top: 18px;
  max-width: 234px;

  &:active {
    opacity: 0.3;
  }

  &--next {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 50px;
      background-image: url("../img/icons/icon-next.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    @media (max-width: $mobile-width-only) {
      &::before {
        right: -83px;
        top: 23px;
      }
    }

    @media (min-width: $tablet-width) {
      &::before {
        right: 32px;
        top: 43px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        right: 32px;
        top: 8px;
      }

      &:hover {
        &::before {
          background-image: url("../img/icons/icon-next-32.svg");
        }
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      padding-top: 34px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }
}
