.button {
  border: none;

  &--push {
    margin-top: 27px;
    margin-bottom: 7px;
  }

  &--product {
    position: absolute;
    top: 136px;
    min-width: 251px;
  }

  &--extra {
    position: absolute;
    top: 61px;
    min-width: 251px;
  }

  &--more {
    display: flex;
    justify-content: center;
    background-color: $lgt_gray;
    color: $gray;
  }
}
