.button {
  border: none;

  &--push {
    margin-top: 27px;
    margin-bottom: 7px;
  }

  &--product {
    position: absolute;
    top: 136px;
    min-width: 251px;

    @media (min-width: $tablet-width) {
      top: 461px;
      min-width: 218px;
      left: 40px;
    }

    @media (min-width: $desktop-width) {
      top: 463px;
      min-width: 137px;
    }
  }

  &--extra {
    position: absolute;
    top: 61px;
    min-width: 251px;

    @media (min-width: $tablet-width) {
      min-width: 603px;
      top: 68px;
      left: 37px;
    }

    @media (min-width: $desktop-width) {
      top: 10px;
      left: 651px;
      right: 0;
    }
  }

  &--more {
    display: flex;
    justify-content: center;
    background-color: $lgt_gray;
    color: $gray;
  }

  @media (min-width: $desktop-width) {
    min-width: 140px;
  }
}
