.cooperation {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.cooperation__wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    min-width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.cooperation__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.cooperation__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $gray;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.cooperation__adress {
  background-color: $lgt_gray;
  display: flex;
  padding: 12px 25px 8px 20px;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    max-width: 280px;
    padding-top: 12px;
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    background-color: $white;
    max-width: 626px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 4;
    top: 92px;
    left: 110px;
    min-width: 404px;
    max-height: 71px;
    padding: 51px 91px 79px 75px;
  }
}
