.cooperation__wrapper {
  background-color: $lgt_gray;
  display: flex;
  padding: 15px 25px 16px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cooperation__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.cooperation__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}
