.example {
  @media (max-width: $mobile-width-only) {
    background-color: $lgt_gray;
  }

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-bottom: 21px;
    min-height: 1038px;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    min-height: 598px;
    margin-bottom: 135px;
    background-image: linear-gradient(to bottom, $white  30%, #f2f2f2 30%);
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.example__title {
  font-weight: 400;
  color: $black;

  @media (max-width: $mobile-width-only) {
    font-size: 36px;
    line-height: 42px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: -22px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 150px;
  }
}

.example__subtitle {
  font-family: "Arial", sans-serif;
  margin-bottom: 18px;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $gray;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    max-width: 435px;
    margin-bottom: 66px;
  }
}
