.filter-pets {
  position: relative;
  margin: 0 auto;
  background-color: $lgt_gray;

  @media (max-width: $mobile-width-only) {
    max-width: 280px;
  }

  @media (min-width: $tablet-width) {
    max-height: 537px;
    max-width: 100%;
  }
}

.filter-pets__wrapper {
  @media (max-width: $mobile-width-only) {
    max-height: 350px;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 94px;
    padding-right: 99px;
  }
}
