.filter-option {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}

.filter-checkbox__input:focus + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 38px;
  height: 38px;
  border: 1px solid black;
  opacity: 1;
}

.filter-checkbox__input + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 38px;
  height: 38px;
  border: 1px solid gray;
  opacity: 0.4;
}

.filter-checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -34px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/icons/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.filter-checkbox__input:disabled + label::after,
.filter-checkbox__input:disabled + label::before {
  opacity: 0.4;
}

.filter-checkbox__input:disabled + label {
  opacity: 0.4;
}

.filter-checkbox__label {
  text-transform: uppercase;
}
