.filter-checkbox {
  color: $black;
  position: relative;
}

.filter-checkbox__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.filter-checkbox__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-checkbox__label {
  display: inline-block;
  min-width: 84px;
  height: 14px;
  padding-left: 45px;
  text-transform: uppercase;
}

.filter-checkbox__input {
  display: none;
}

.filter-checkbox__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $black;
  border-radius: 6px;
  transition: 0.4s;

  &::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 35px;
    left: 4px;
    bottom: 4px;
    border-radius: 6px;
    background-color: $green;
    transition: 0.4s;
  }
}

.filter-checkbox__input:checked + .filter-checkbox__slider {
  background-color: $white;
}

.filter-checkbox__input:focus + .filter-checkbox__slider {
  box-shadow: 0 0 1px $white;
}

.filter-checkbox__input:checked + .filter-checkbox__slider::before {
  transform: translateX(40px);
}

.filter-checkbox__input + .filter-checkbox__label::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  width: 30px;
  height: 30px;
  border: 2px solid $spcl_gray2;
}

.filter-checkbox__input:checked + .filter-checkbox__label::after {
  content: "";
  position: absolute;
  background-image: url("../../img/icons/icon-checkbox.svg");
  left: 6px;
  top: 12px;
  width: 18px;
  height: 14px;
}
