.filter-pets {
  position: relative;

  @media (max-width: $mobile-width-only) {
    min-width: 100%;
  }

  @media (min-width: $tablet-width) {
    max-height: 537px;
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    top: -370px;
    left: 62.5%;
    max-width: 425px;
  }
}

.filter-pets__wrapper {
  @media (max-width: $mobile-width-only) {
    max-height: 345px;
    max-width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 71px;
    right: 16%;
    max-height: 500px;
  }
}

.filter-pets__image {
  position: relative;
  padding-bottom: 22px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &--before {
    @media (max-width: $mobile-width-only) {
      height: 280px;
      width: 311px;
      margin: 0 auto;
      overflow: hidden;
      right: 19px;
      top: -3px;
    }

    @media (min-width: $tablet-width) {
      height: 507px;
      width: 600px;
      overflow: hidden;
      right: 222px;
      top: -106px;
    }

    @media (min-width: $desktop-width) {
      height: 527px;
      right: 191px;
      top: -325px;
      z-index: 2;
    }
  }

  &--after {
    @media (max-width: $mobile-width-only) {
      position: relative;
      height: 274px;
      width: 318px;
      overflow: hidden;
      top: -317px;
      left: -19px;
    }

    @media (min-width: $tablet-width) {
      position: relative;
      height: 569px;
      width: 368px;
      overflow: hidden;
      top: -671px;
      left: 369px;
    }

    @media (min-width: $desktop-width) {
      top: -865px;
      left: 408px;
      width: 400px;
      z-index: 1;
    }
  }
}

.filter-pets__pet-cat-before {
  padding-top: 20px;
  margin-bottom: 27px;
  max-width: 100%;
  height: 237px;

  @media (min-width: $tablet-width) {
    object-fit: cover;
    height: 517px;
    width: 737px;
    margin-bottom: 27px;
    max-width: 100%;
    position: absolute;
    top: -5px;
    left: 275px;
  }

  @media (min-width: $desktop-width) {
    top: 19px;
    left: 279px;
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--opened {
    display: block;
  }
}

.filter-pets__pet-cat-after {
  padding-top: 20px;
  margin-bottom: 27px;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    padding-left: 97px;
    object-fit: cover;
    height: 521px;
    width: 524px;
    margin-bottom: 27px;
    max-width: 100%;
    position: absolute;
    padding-top: 48px;
    left: -268px;
  }

  @media (min-width: $desktop-width) {
    top: -22px;
    left: -291px;
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--opened {
    display: block;
  }
}
