.cooperation__wrapper {
  display: grid;
  padding-top: 13px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 11px;
}

.cooperation__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.cooperation__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}

.social {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33.3% 33.3% 33.3%;
  text-align: center;
  align-items: center;
  background-color: $lgt_gray;
}

.social__link {
  &--logo {
    padding-top: 52px;
    padding-bottom: 30px;
    border-bottom: 1px solid $spcl_gray4;
  }
}

.social__logo {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__icons {
  padding-top: 39px;
  padding-bottom: 17px;
  border-bottom: 1px solid $spcl_gray4;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    width: 127px;
    margin: 0 auto;
    align-items: center;
  }
}

.social__icon {
  &:hover {
    stroke: $green;
  }

  &:active {
    stroke: $green;
    opacity: 0.3;
  }
}

.developed {
  padding-top: 10px;
}

.developed__link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $gray;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &--position {
    display: flex;
    justify-content: space-between;
    min-width: 280px;
    align-items: center;
  }
}

.developed__link:hover .developed__logo {
  stroke: $green;
}

.developed__logo {
  &:hover {
    stroke: $green;
  }

  &:active {
    stroke: $green;
    opacity: 0.3;
  }
}
