.form-pets__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }
}

.form-pets__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 67px;
  }
}

.form-pets__mark {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 40px;
    right: 144px;
    font-size: 16px;
    line-height: 16px;
  }
}

.form-pets__wrapper {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}
