.form__fieldset {
  border: none;
  position: relative;
  padding: 0;

  &:first-child {
    border-bottom: 1px solid $lgt_gray;
    padding-bottom: 14px;
    margin-bottom: 28px;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 25px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
    }
  }

  &:nth-child(2) {
    border-bottom: 1px solid $lgt_gray;
    padding-bottom: -4px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label {
  color: $gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 100%;
  text-transform: uppercase;
  position: relative;

  &::placeholder {
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    width: 574px;
    min-width: 574px;
  }
}

.form__email-label-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1120px;
  }
}

.form__email-wrapper {
  @media (min-width: $tablet-width) {
    min-width: 630px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    margin-bottom: 3px;
  }
}

.form__character-wrapper {
  @media (max-width: $mobile-width-only) {
    min-width: 280px;
  }

  @media (min-width: $tablet-width) {
    min-width: 630px;
    padding-left: 39px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    min-width: 515px;
    margin-bottom: 0;
  }
}

.form__info-wrapper {
  @media (min-width: $tablet-width) {
    min-width: 630px;
    padding-left: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    min-width: 571px;
  }
}

.form__comment-wrapper {
  @media (min-width: $desktop-width) {
    min-width: 1220px;
  }
}

.form__filter-wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    margin-bottom: 123px;
  }
}

.form__input {
  flex-grow: 1;
  max-width: 90%;
  min-height: 45px;
  margin-left: 13px;
  padding-left: 9px;
  text-align: left;
  border: 1px solid $lgt_form_gray;

  &:focus,
  &:active {
    border: 2px solid $black;
    outline: none;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 10px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}


.form__list-radio {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    min-width: 630px;
    line-height: 32px;
    border: 1px solid $lgt_gray;
    padding-top: 27px;
    padding-bottom: 10px;
    padding-left: 0;
    margin-top: -8px;
  }

  @media (min-width: $desktop-width) {
    max-width: 564px;
    min-width: 568px;
    margin-left: -8px;
    padding-top: 14px;
    padding-bottom: 18px;
    padding-left: 0;
    margin-top: 4px;
  }
}

.form__list-checkbox {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    min-width: 630px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    row-gap: 11px;
    max-width: 630px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 4px;
    column-gap: 82px;
  }
}

.form__text {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
  }
}

.form__textarea {
  @media (max-width: $mobile-width-only) {
    min-width: 273px;
    margin-top: 5px;
    padding-bottom: 43px;
  }

  &:focus,
  &:active {
    border: 2px solid $black;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    line-height: 22px;
    margin-bottom: 37px;
    min-width: 630px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
    min-width: 1220px;
  }
}

.form__textarea::placeholder {
  text-transform: uppercase;
  padding: 0 11px;
  padding-top: 15px;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 6px;
    padding-left: 17px;
  }
}

.form__character {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 10px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    line-height: 23px;
  }
}

.form__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 22px;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    min-width: 570px;
    padding: 0;
  }
}

.form__email {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 13px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form_info-email-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -30px;
    display: grid;
    grid-template-columns: 564px 564px;
    column-gap: 90px;
  }
}

.form__comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 48px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: -1px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: -11px;
  }
}

.form__filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.form__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 30px;
  position: relative;
  background-color: $white;

  @media (max-width: $mobile-width-only) {
    margin-left: -20px;
    padding-left: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: -34px;
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -38px;
    padding-left: 38px;
  }
}

.form__title-wrapper {
  display: flex;
}

.form__icon-email {
  background-image: url("../../img/icons/email-icon.svg");
  background-repeat: no-repeat;
  background-position: 185px center;

  @media (min-width: $tablet-width) {
    background-position: 98% center;
  }

  @media (min-width: $desktop-width) {
    background-position: 96% center;
  }
}

.form__icon-phone {
  background-image: url("../../img/icons/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 164px center;

  @media (min-width: $tablet-width) {
    background-position: 98% center;
  }

  @media (min-width: $desktop-width) {
    background-position: 96% center;
  }
}

.form__email::after,
.form__comment::after,
.form__filter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 36px;
  right: -19px;
  left: 0;
  z-index: -1;
  background-color: $green;

  @media (min-width: $tablet-width) {
    top: 52px;
  }
}

.form__title-contact {
  max-width: 72%;

  @media (min-width: $tablet-width) {
    min-width: 554px;
    margin-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    min-width: 45%;
  }
}

.form__title-comment {
  @media (max-width: $mobile-width-only) {
    max-width: 141px;
  }

  @media (min-width: $tablet-width) {
    max-width: 35%;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    max-width: 18%;
  }
}

.form__title-more {
  @media (max-width: $mobile-width-only) {
    min-width: 181px;
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    min-width: 45%;
    margin-bottom: 60px;
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    min-width: 24%;
  }
}
