.main-header {
  background-color: $gray;
}

.page-header {
  min-height: 66px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo {
  cursor: pointer;
}
