.link {
  color: $white;
  min-height: 40px;
  font-size: 14px;
  background-color: $green;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  text-align: center;
  line-height: 40px;

  &:hover {
    background-color: $green_hover_link;
  }

  &:active {
    color: $lgt_white;
  }
}

.link-catalog {
  text-decoration: none;
  color: $black;
}
