.link {
  color: $white;
  min-height: 40px;
  font-size: 14px;
  background-color: $green;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  text-align: center;
  line-height: 40px;

  &:hover {
    background-color: $green_hover_link;
  }

  &:active {
    color: $lgt_white;
  }
}

.link--more {
  display: flex;
  justify-content: center;
  background-color: $lgt_gray;
  color: $gray;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  text-align: center;
  line-height: 40px;
  min-height: 40px;
  font-size: 14px;

  &:hover {
    background-color: $spcl_gray;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0;
    width: 249px;
    margin-left: 10px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 167px;
    margin-left: 3px;
    margin-bottom: -4px;
  }
}
