.map {
  min-width: 100%;
  min-height: 362px;
  background-image: url("../img/content/map.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 405px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
  }
}
