.map {
  background-image: url("../img/content/map.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: $mobile-width-only) {
    padding: 0;
    min-width: 100%;
    min-height: 362px;
  }

  @media (min-width: $tablet-width) {
    min-height: 405px;
    min-width: 100%;
    margin-top: -29px;
  }
}
