.offer {
  min-width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 630px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
    min-width: 1440px;
    max-width: 1440px;
    min-height: 523px;
    position: relative;
  }
}

.offer__wrapper {
  @media (max-width: $mobile-width-only) {
    position: relative;
    height: 303px;
    min-width: 280px;
    background-image: url("../img/content/catbg-main.jpg");
    background-repeat: no-repeat;
    background-position: calc((100% - 40px) / 2) 0;
    z-index: 0;
    margin-bottom: 195px;
    display: flex;
    justify-content: stretch;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/content/index-can-mobile.png");
      background-repeat: no-repeat;
      top: 168px;
      left: 20px;
      width: 259px;
      height: 265px;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: $green_opacity;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 304px;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/content/tablet-can-mobile.png");
      background-repeat: no-repeat;
      top: 343px;
      left: 27px;
      width: 659px;
      height: 607px;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    height: 689px;
    top: -164px;
    width: 717px;
    right: 1px;
    background-image: url("../../img/content/catbg-main-desktop.jpg");
    background-repeat: no-repeat;
    z-index: -2;

    &::after {
      position: absolute;
      content: "";
      background-color: $green_opacity;
      background-repeat: no-repeat;
      top: 1px;
      left: -2px;
      width: 720px;
      height: 689px;
      z-index: -1;
    }

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/content/desktop-can-image.png");
      background-repeat: no-repeat;
      top: 136px;
      left: -162px;
      width: 515px;
      height: 555px;
      z-index: 1;
    }
  }
}

.offer__wrappers {
  @media (max-width: $mobile-width-only) {
    order: 1;
    min-width: calc((100% - 45%) * 1.5);
    z-index: 3;
    top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    max-width: 533px;
  }

  @media (min-width: $desktop-width) {
    max-width: 430px;
    margin-left: 0;
    position: absolute;
    left: -640px;
    top: 161px;
  }
}

.offer__title {
  @media (max-width: $mobile-width-only) {
    color: $white;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    padding: 3px 0;
    padding-top: 182px;
    margin-bottom: 8px;
    font-weight: 400;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
  }
}

.offer__subtitle {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 14px;
    color: $white;
    text-align: center;
    padding-bottom: 292px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $black;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $black;
  }
}

.offer__link {
  @media (max-width: $mobile-width-only) {
    order: 1;
    padding: 0 73px;
  }

  &--position {
    margin-top: 6px;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    color: $white;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 7px 26px;
    left: 113px;
    top: 372px;
    align-items: center;
    position: absolute;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    left: 111px;
    top: 289px;
  }
}
