.offer {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-color: $green_opacity;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 302px;
      z-index: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      height: 697px;
      background-color: $green-spc;
      background-image: url("../../img/content/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: auto 697px;
      background-position-x: right;
    }
  }
}

.offer__wrapper {
  @media (max-width: $mobile-width-only) {
    height: 302px;
    margin: 0 auto;
    background-image: url("../../img/content/catbg-main@1x.jpg");
    background-repeat: no-repeat;
    background-position: calc((100% - 40px) / 2) 0;
    background-size: 563px auto;
    z-index: 0;
    margin-bottom: 200px;
    margin-top: -4px;
    display: flex;
    justify-content: stretch;
  }

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-left: 190px;
    margin-bottom: 266px;
  }
}

@media (min-resolution: 2dppx) {
  .offer {
    @media (min-width: $desktop-width) {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        z-index: -1;
        width: 50%;
        height: 697px;
        background-color: $green-spc;
        background-image: url("../../img/content/index-background-desktop@2x.jpg");
        background-repeat: no-repeat;
        background-size: auto 697px;
        background-position-x: right;
      }
    }

    .offer__wrapper {
      background-image: url("../../img/content/catbg-main@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      .offer__wrapper {
        background-image: none;
      }
    }
  }
}

.offer__wrappers {
  position: relative;

  @media (max-width: $mobile-width-only) {
    order: 1;
    max-width: 280px;
    z-index: 3;
    top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    padding-left: 112px;
    margin-bottom: 525px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.offer__title {
  @media (max-width: $mobile-width-only) {
    color: $white;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    padding: 3px 0;
    margin-top: 203px;
    margin-bottom: 8px;
    font-weight: 400;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
    max-width: 440px;
    margin-top: 57px;
    padding-left: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
    margin-top: 57px;
    padding-left: 0;
  }
}

.offer__subtitle {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 14px;
    color: $white;
    text-align: center;
    padding-bottom: 292px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $black;
    margin-bottom: 49px;
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $black;
    margin-bottom: 52px;
    padding-left: 0;
  }
}

.offer__link {
  @media (max-width: $mobile-width-only) {
    order: 1;
    padding: 0 73px;
  }

  &--position {
    margin-top: 6px;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    color: $white;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 7px 26px;
    align-items: center;
    display: flex;
    max-width: 192px;
  }

  @media (min-width: $desktop-width) {
    left: 111px;
    top: 289px;
  }
}

.offer__product-mobile {
  display: block;
  position: absolute;

  @media (max-width: $mobile-width-only) {
    top: 171px;
    left: 20px;
    width: 280px;
    height: 270px;
  }

  @media (min-width: $tablet-width) {
    top: 198px;
    left: 30px;
    width: 707px;
    height: 610px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: -82px;
    left: 368px;
    width: 552px;
    height: 499px;
  }
}
