.page-header__wrapper {
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  border-bottom: 1px solid $lgt_gray;

  @media (min-width: $tablet-width) {
    min-height: 60px;
    padding-top: 24px;
    margin-bottom: 57px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
    margin-bottom: 69px;
  }
}

.page-header__logo-link {
  cursor: pointer;
  padding-top: 6px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
