.page {
  height: 100%;
}

.page__body {
  position: relative;
  background-color: $white;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $black;
  min-height: 100%;
}
