.products__product {
  @media (max-width: $mobile-width-only) {
    padding-left: 36px;
    padding-top: 25px;
  }

  &:first-child {
    @media (max-width: $mobile-width-only) {
      padding-top: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    margin-top: 66px;
    margin-left: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -29px;
    margin-bottom: 49px;
  }
}

.products__product-even {
  margin-bottom: 22px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: -12px;
    margin-left: 28px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
    margin-top: 38px;
    margin-left: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
    margin-top: -57px;
  }
}

.products__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 53px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 8px;
    margin-top: 25px;
    border-bottom: 1px solid $lgt_gray;
    padding-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: -35px;
  }
}

.products__title-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark_gray;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 24px;
  }
}

.products__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 100px;

  @media (min-width: $tablet-width) {
    max-width: 130px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 22px;
    margin-left: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
    margin-bottom: 21px;
    margin-left: 62px;
  }
}

.products__subtitle-more {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $gray;

  @media (max-width: $mobile-width-only) {
    margin-top: -8px;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 151px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 51px;
  }
}

.products__character {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    row-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 60px 60px;
    column-gap: 46px;
    padding: 0 45px;
  }
}

.products__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 104px 1fr;
    grid-template-rows: 134px 48%;
    align-items: center;
    justify-items: center;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 306px 35%;
      align-items: center;
      justify-items: center;
    }

    @media (min-width: $desktop-width) {
      grid-template-rows: 291px 31%;
    }
  }
}

.products__cell {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  position: relative;

  &--name {
    text-align: left;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: $spcl_gray2;
        width: 250px;
        top: 23px;
        left: 0;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: $spcl_gray2;
        width: 167px;
        top: 26px;
        left: 0;
      }
    }
  }

  &--info {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.products__cell--name:last-child {
  @media (min-width: $desktop-width) {
    &::after {
      content: none;
      display: none;
    }
  }
}

.products__info {
  @media (max-width: $mobile-width-only) {
    padding-left: 35px;
  }

  @media (min-width: $tablet-width) {
    max-width: 250px;
    padding: 0 7px;
    margin-top: -67px;
    text-align: center;
    min-width: 246px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -234px;
  }
}

.products__info-image {
  padding-left: 37px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }
}

.products__item {
  position: relative;
  margin-bottom: 75px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 196px;
    background-color: $spcl_gray;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.products__column-more {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -54px;
    right: 143px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("../../img/content/button-more.png");
  }

  @media (min-width: $tablet-width) {
    width: 264px;
    background-color: $white;
    min-height: 427px;
    border: 2px solid $lgt_gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 111px;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      top: 51px;
      right: 129px;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("../../img/content/button-more-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0;
    display: flex;
    align-items: center;

    &::before {
      top: 54px;
      right: 91px;
    }
  }
}

.products__more {
  position: relative;
  margin-bottom: -98px;
  padding-top: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 202px;
    background-color: $spcl_gray;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: -102px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.products__more-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 108px;
    text-align: center;
    max-width: 175px;
    margin: 0 auto;
  }
}

.products__wrapper-more {
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.products__wrapper {
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.products__link {
  color: $dk_gray;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.products__wrapper-card {
  @media (min-width: $tablet-width) {
    width: 264px;
    background-image: linear-gradient(to bottom, $white 20%, $lgt_gray 21%);
    min-height: 541px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 245px;
    display: flex;
    justify-content: center;
  }
}

.product--first-child {
  @media (max-width: $mobile-width-only) {
    padding-top: 4px;
  }
}

.product--even {
  margin-bottom: 79px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: -12px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}
