.social {
  background-color: $lgt_gray;
  max-width: 100%;

  @media (min-width: $desktop-width) {
    min-width: 100%;
  }
}

.social__wrapper {
  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    align-items: center;
    line-height: 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: 1fr;
    min-height: 94px;
    text-align: inherit;
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    min-height: 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
}

.social__link {
  &--logo {
    padding-top: 71px;
    padding-bottom: 30px;
    border-bottom: 1px solid $spcl_gray4;

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-bottom: 17px;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.social__logo {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.social__icons {
  padding-top: 46px;
  padding-bottom: 2px;
  border-bottom: 1px solid $spcl_gray4;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 49%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 19px;

    @media (max-width: $mobile-width-only) {
      max-width: 46%;
    }

    @media (min-width: $tablet-width) {
      padding-top: 8px;
      max-width: 38%;
      margin: 0 75px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 48px;
      padding-top: 17px;
      max-width: 45%;
      margin: 0 40px;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 256px;
    border-bottom: none;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 266px;
    border-bottom: none;
  }
}

.social__icon--facebook {
  stroke: $black;
}

.social__link:hover .social__icon {
  fill: $green;

  &--facebook {
    fill: none;
    stroke: $green;
  }
}

.social__link:active .social__icon {
  fill: $green;
  opacity: 0.3;
}
