#map {
  width: 100%;
  min-height: 362px;
}
@media screen and (min-width: 320px) {
  .fiter-image__img{
    object-fit: contain;
    width: 70%;
    height: 20%;
  }

}
@media screen and (min-width: 680px) {
  .fiter-image__img{
    object-fit: contain;
    width: 40%;
    min-height: 50%;
  }

}
@media screen and (min-width: 980px) and (max-width: 1920px) {
  .fiter-image__img{
    object-fit: contain;
    min-width: 15%;
    max-width: 20%;
    min-height: 100%;
  }

}


.page__body {
}

.range-filter {
  width: 200px;
  margin-top: 49px;
  margin-bottom: 59px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding: 39px 20px 0px 20px;
  background-color: transparent;
  border-radius: 5px;
}

.range-controls .bar {
  width: 70%;
  height: 14px;
  background-color: #DCDCDC;
}

.toggle {
  position: absolute;
  top: 29px;
  left: 0;
  border: 11px solid #CDCDCD;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #68B738;
  border-radius: 50%;
  box-shadow: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  cursor: pointer;
}

.form__fieldset {
  max-width: 100%;
  margin: 0px 10px;
}

.comment{
  max-width: 100%;
}

.form__textarea {
  min-width: 100%;
}

/* .product__column {
  display: flex;
  justify-content: space-between;
} */

.products__column {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.products__items-wrapper{
  max-width: 137px;
  list-style-type: none;
  justify-content: space-between;
  flex-direction: column;
}

.products__item {
  /* position: relative; */
  max-width: 320px;
}

/* .product__item--image::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 68px;
  height: 68px;
  background-image: url("../img/content/product1.png");
} */

.products__cell {
  width: 100%;
  display: flex;
}
.products__product1{

}
.product {
  margin-right: 45px;
  display: flex;
  align-self: center;
}
.products__wrapper-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;

}
.products__items-wrapper {
  justify-content: space-between;
}

.products__list {
  list-style-type: none;
  padding: 0;
}

.products__title {

}
.products__wrapper-more{
  position: relative;
  min-width: 320px;
}

.button-more {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -41px;
  left: 142px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  animation: bounce 0.6s;
}
.button-more::after  {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0px;
  background-image: url("../img/content/button-more.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products__more {
  display: flex;
  flex-direction: column;
}

.products-more {
  margin-top: 70px;
}
.products__column-more{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 320px;
}

.extra__item {

}
.extra__title {
  justify-content: center;
  display: flex;
}
.button {
  justify-content: center;
  display: flex;
}
.button--product{
  grid-column: -1/2;
}

.extra__column{
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.extra__wrapper-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}
.extra__items-wrapper{
  justify-content: space-between;
  display: flex;
  max-width: 280px;
}
.extra__list {
  list-style-type: none;
  padding: 0;
}
.wrapper{
  min-width: 280px;
  max-width: 768px;
  padding: 0 10px;
  margin: 0 auto;
}
.gift__wrapper {
  display: flex;
  justify-content: center;
}
.gift__image {
  background-color: rgba(0, 0, 0, 0.16);
  background-image: url("../img/content/gift-image.png");
  background-repeat: no-repeat;
  min-width: 280px;
  min-height: 289px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.developed {
  display: flex;
  max-width: 320px;
  justify-content: space-between;
  align-items: center;
}
.gift__call {
  text-align: center;
}
