.example{
  background-color: $lgt_gray;
  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: $black;
  }
  &__subtitle{
    font-size: 14px;
    line-height: 18px;
    font-family: Arial;
    margin-bottom: 18px;
  }
}
