//Global

//Media

$tablet-width: 768px;
$desktop-width: 1220px;
$mobile-width-only: 767px;

// Colors
$black: #000000;
$green: rgba(104, 183, 56, 1);
$green_opacity: rgba(104, 183, 56, 0.8);
$gray: #444444;
$white: #FFFFFF;
$lgt_gray: #F2F2F2;
$spcl_gray: #EBEBEB;
$spcl_gray2: #CDCDCD;
$spcl_gray3: #E6E6E6;
$spcl_gray4: #D9D9D9;
$mdl_gray: #666666;
$dk_gray: #222222;
$sts_error: #FF8282;
$green2: #5EAA2F;
$yellow:#FDC305;


